<a href="https://colab.research.google.com/github/jongwoo1126/Colab/blob/master/Ch02.%20%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20%EC%8B%A4%EC%8A%B5/5_%EC%84%9C%ED%8F%AC%ED%8A%B8_%EB%B2%A1%ED%84%B0_%EB%A8%B8%EC%8B%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
날짜 : 2022/05/03
이름 : 박종우
내용 : 서포트 벡터 머신 실습
"""
import pandas as pd
from sklearn import svm, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [5]:
####################### XOR 머신러닝 ###########################
# 학습데이터
train_data = [[0, 0], [0, 1], [1, 0], [1, 1]]
train_label = [0, 1, 1, 0]

In [16]:
# 학습하기
#model = LogisticRegression()
model = svm.SVC()
model.fit(train_data, train_label)

SVC()

In [17]:
# 테스트
test_data = [[0, 1], [1, 1]]
result = model.predict(test_data)
result

array([1, 0])

In [19]:
####################### iris 머신러닝 ###########################
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [55]:
# 학습 데이터, 라벨 분류
iris_data = df_iris.iloc[:, 0:4]
iris_label = df_iris.iloc[:, 4]
train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, train_size=0.1)

In [45]:
# 학습
model = svm.SVC()
model.fit(train_data, train_label)

SVC()

In [46]:
# 테스트
result = model.predict(test_data)
result

array(['Setosa', 'Setosa', 'Versicolor', 'Virginica', 'Virginica',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Setosa',
       'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Virginica',
       'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Virginica',
       'Versicolor', 'Setosa', 'Virginica', 'Setosa', 'Setosa',
       'Virginica', 'Versicolor', 'Virginica', 'Setosa', 'Virginica',
       'Setosa', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Virginica',
       'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Virginica',
       'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor', 'Setosa',
       'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Virginica',
       'Setosa', 'Versicolor', 'Virginica', 'Virginica', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Setosa',
       'Setosa', 'Virginica', 'Virginica', 'Virginica', 'Virginica',
       'Versicolor', 'Virginica', 'Setosa', 'Versicolor', 'Setosa',
       'Versicolor', 'Virginica', 'Versicolor', 'Setosa', 'Virginica',
       'Versicolor', 'Virginica', 'Setosa', 'Virginica', 'Virginica',
       'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica',
       'Setosa', 'Setosa', 'Setosa', 'Virginica', 'Virginica', 'Setosa',
       'Versicolor', 'Setosa', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Virginica', 'Virginica', 'Setosa', 'Setosa',
       'Setosa', 'Virginica'], dtype=object)

In [47]:
# 성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9037037037037037

In [49]:
####################### pima-indian 머신러닝 ###########################
# 데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/파이썬 데이터 과학 실습/file/pima-indians-diabetes.csv', header=None)
df_pima

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [60]:
# 학습데이터
pima_data = df_pima.iloc[:, 0:8]
pima_label = df_pima.iloc[:, 8]
pima_train_data, pima_test_data, pima_train_label, pima_test_label = train_test_split(pima_data, pima_label, train_size=0.8)

In [61]:
# 학습하기
model = svm.SVC()
model.fit(pima_train_data, pima_train_label)

SVC()

In [62]:
# 테스트
result = model.predict(pima_test_data)
result

array([0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0])

In [63]:
# 성능평가
score = metrics.accuracy_score(result, pima_test_label)
score

0.7727272727272727